input {
  border: 1px solid #909090;
  padding: 8px;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  border: none;
  background-color: crimson;
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.aggiungi-utente {
  margin-bottom: 20px;
}

.elenco-utenti {
  width: 100%;
  border-collapse: collapse;
}
.elenco-utenti tr:nth-child(even) {
  background-color: #dbdbdb;
}
.elenco-utenti tr:hover {
  background-color: rgb(249, 219, 102);
}
.elenco-utenti td {
  padding: 10px;
}
.elenco-utenti td:last-child {
  text-align: right;
}
